<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <TimeTable.Properties.Settings>
            <setting name="roomList" serializeAs="String">
                <value>B112,B114,B115A,B115B,B116,B118,B126,DLCA,DLCB,C201,Other</value>
            </setting>
            <setting name="staffList" serializeAs="String">
                <value>JJ,NM,MM,DR,JR,JS,BS,SS,T1,T2</value>
            </setting>
            <setting name="levelList" serializeAs="String">
                <value>L1,L2,L3,L4,P4</value>
            </setting>
            <setting name="yearList" serializeAs="String">
                <value>1,2,3,4</value>
            </setting>
            <setting name="groupList" serializeAs="String">
                <value>A,B,C,D</value>
            </setting>
        </TimeTable.Properties.Settings>
    </userSettings>
</configuration>
